<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head.ejs') %>
    <title>dashboard</title>
  </head>
  <body
    style="height: 100%"
    class="d-flex align-items-center flex-column justify-content-center"
  >
    <div
      class="w-100 d-flex justify-content-center text-center align-items-center"
    >
      <% if (data.alert) {%>
      <div
        id="alert"
        style="width: 300px"
        class="alert alert-success"
        role="alert"
      >
        <%= data.alert %>
      </div>
      <% } %>
    </div>
    <div
      class="container d-flex align-items-center card card-body"
      style="height: 100%"
    >
      <div
        class="container w-75 d-flex align-items-center justify-content-center flex-column"
      >
        <div class="w-75">
          <p class="container d-flex justify-content-center">
            <a
              class="btn btn-primary"
              data-bs-toggle="collapse"
              href="#collapseExample"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Create Users
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <form action="/api/users/create" method="post">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Username</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    name="name"
                  />
                </div>
                <div class="mb-3">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    name="gender"
                  >
                    <option disabled>Choose Gender</option>
                    <option value="female">female</option>
                    <option value="male">male</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >phone</label
                  >
                  <input
                    type="tel"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    name="phone"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >address</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    name="address"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Email address</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    name="email"
                  />
                  <div id="emailHelp" class="form-text">
                    We'll never share your email with anyone else.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"
                    >Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    name="password"
                  />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <br />
        <table class="table table-striped w-75">
          <tr>
            <th>#</th>
            <th>user name</th>
            <th>user email</th>
            <th>gender</th>
            <th>cell phone</th>
            <th>address</th>
            <th>action</th>
          </tr>
          <% data.users.forEach((user,index) => {%>
          <tr>
            <td><%= index+1 %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.biodata?.gender %></td>
            <td><%= user.biodata?.phone %></td>
            <td><%= user.biodata?.address %></td>
            <td>
              <div class="d-flex gap-3">
                <button class="btn btn-primary text-white">
                  <a
                    style="text-decoration: none; color: white"
                    href="/users/edit/<%= user.id %>"
                  >
                    edit
                  </a>
                </button>
                <form action="api/users/remove" method="post">
                  <input type="text" hidden name="id" value="<%= user.id %>" />
                  <button type="submit" class="btn btn-danger">delete</button>
                </form>
              </div>
            </td>
          </tr>
          <% }); %>
        </table>
      </div>
      <form action="/auth/logout" method="get">
        <input type="submit" class="btn btn-danger" value="logout here" />
      </form>
    </div>
    <div></div>
  </body>
  <script src="../assets/bootstrap/bootstrap.bundle.min.js"></script>
</html>
